Libreria/Libreria.dtd

<!ELEMENT libreria (libro*)>
<!ELEMENT libro (autores, titulo, editorial, fechapublicacion)>
<!ELEMENT autores (autor)>
<!ELEMENT autor (nombre, apellidos)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT titulo (#PCDATA)> 
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT fechapublicacion (#PCDATA)>